nav a{
    color: #000;
    text-decoration: none;
    margin: 0px 10px;
    font-size: 18px;
    font-weight: 600;
    transition: .4s;
}
nav a:hover{
    color: rgb(0, 211, 130);
}
.content{
   border: 1px solid #ddd;
   color: #fff;
   padding-bottom: 15px;
}